@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

@import 'partials/reset', 'partials/variables', 'partials/functions',
  'partials/basic-settings', 'partials/mixins', 'partials/header',
  'partials/home', 'partials/stats', 'partials/chapters', 'partials/exam',
  'partials/dictionary';

section {
  background-color: $clr-900;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  position: relative;
  overflow-x: hidden;

  &.exam {
    background-color: $clr-100;
    color: $clr-900;
  }

  &.dictionary {
    height: auto;
  }
}
