@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='search'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "roboto";
  background-color: #352940;
}

body img {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
}

header {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  background-color: #352940;
  width: 100vw;
  height: 6.25rem;
  z-index: 9;
}

header button {
  all: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header button svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header button h1 {
  margin-right: 1.25rem;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 25%;
  max-width: 18.75rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header div:first-of-type {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 3%;
}

header div:nth-of-type(2) {
  width: 30%;
  max-width: none;
}

header h1 {
  font-size: 1.4375rem;
  font-weight: 400;
  text-align: center;
  margin-right: 0.625rem;
}

header h4 {
  padding-bottom: 0.0625rem;
  font-size: 1rem;
}

header input {
  all: unset;
  border: 1px #ffffff solid;
  border-radius: 4px;
  padding: 0.9375rem 1.25rem;
  width: 100%;
}

header ::-webkit-input-placeholder {
  color: #ffffff;
  font-style: italic;
}

header :-ms-input-placeholder {
  color: #ffffff;
  font-style: italic;
}

header ::-ms-input-placeholder {
  color: #ffffff;
  font-style: italic;
}

header ::placeholder {
  color: #ffffff;
  font-style: italic;
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header svg {
  fill: #ffffff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.container .home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31.25rem;
  color: #ffffff;
}

.container .home-content .option {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .home-content a {
  all: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .home-content .border {
  height: 15.625rem;
  width: 0.0625rem;
  background-color: #ffffff;
}

.container .home-content .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.875rem;
  height: 6.875rem;
  border-radius: 50%;
  position: relative;
  border: 1px #ffffff solid;
}

.container .home-content .img-container .border-cover {
  background-color: #352940;
  height: 7.5rem;
  width: 102%;
  position: absolute;
  top: -2%;
  right: -1%;
}

.container .home-content .img-container .border-cover:first-of-type {
  left: -1%;
}

.container .home-content svg {
  fill: #ffffff;
  z-index: 999;
}

.container .home-content h4 {
  margin-top: 0.9375rem;
  font-size: 1rem;
  text-align: center;
  z-index: 999;
}

.stats {
  position: fixed;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate(18.75rem);
          transform: translate(18.75rem);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.stats .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 22.5rem;
  padding-right: 3.125rem;
}

.stats .content .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 14.375rem;
}

.stats .content h4 {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.stats .content h4:last-of-type {
  font-size: 1.4375rem;
  font-weight: 400;
}

.stats .content .reset-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats .content button {
  all: unset;
  cursor: pointer;
  font-size: 1.1875rem;
  border: 1px #ffffff solid;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem 0;
  color: #ffffff;
  background-color: #352940;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
}

.stats .content button:hover {
  background-color: #ffffff;
  color: #352940;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.stats .content button:hover svg {
  fill: #352940;
}

.stats .content button svg {
  fill: #ffffff;
  margin-right: 1.25rem;
}

.stats .content p {
  margin-top: 1.25rem;
  font-size: 0.9375rem;
  width: 13.75rem;
  line-height: 1rem;
}

.container .chapters-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: calc(10vh + 100px);
  color: #ffffff;
}

.container .chapters-content h1 {
  font-size: 1.4375rem;
  font-weight: 400;
  text-align: center;
}

.container .chapters-content ul {
  height: 100%;
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .chapters-content ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18.75rem;
  margin-top: 1.25rem;
}

.container .chapters-content ul li:first-of-type {
  margin-top: 0;
}

.container .chapters-content ul .underline {
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  height: 0.0625rem;
  z-index: 99;
}

.container .chapters-content ul .delete-container {
  position: absolute;
  right: -3.75rem;
  padding: 0 1.25rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .chapters-content ul button {
  all: unset;
  cursor: pointer;
}

.container .chapters-content ul svg {
  fill: #ffffff;
}

.container .chapters-content ul a {
  all: unset;
  cursor: pointer;
  text-align: center;
  font-size: 1.1875rem;
  padding: 1.25rem 0;
  width: 100%;
  border: 1px #ffffff solid;
  border-radius: 4px;
  color: #ffffff;
  background-color: #352940;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.container .chapters-content ul a::first-letter {
  text-transform: uppercase;
}

.container .chapters-content ul a.chapter-link:hover {
  background-color: #ffffff;
  color: #352940;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container .chapters-content ul a.create-chapter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: unset;
}

.container .chapters-content ul a.create-chapter-btn svg {
  margin-right: 1.25rem;
}

.container .exam-content {
  border: 1px #352940 solid;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 1.875rem;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
  width: 33.4375rem;
  height: 22.5rem;
}

.container .exam-content .head {
  position: absolute;
  top: -1.5625rem;
  background-color: #352940;
  color: #ffffff;
  font-size: 1.4375rem;
  border: 1px #352940 solid;
  border-radius: 4px;
  padding: 0.75rem 2.5rem;
}

.container .exam-content .head.wrong {
  background-color: #ff2e2e;
  border: 1px #ff2e2e solid;
  border-radius: 4px;
}

.container .exam-content .exam-num {
  position: absolute;
  top: -1.1875rem;
  right: 2.5rem;
  background-color: #ffffff;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.container .exam-content .input-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #352940;
  font-weight: 400;
  font-size: 1.25rem;
  position: relative;
}

.container .exam-content .input-line label {
  font-weight: 600;
  position: absolute;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 1.25rem;
  border-radius: 4px;
}

.container .exam-content .input-line input {
  all: unset;
  text-align: center;
  width: 25rem;
  padding: 1.25rem 1.25rem;
}

.container .exam-content .input-line:last-of-type {
  background-color: #352940;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 2.5rem;
}

.container .exam-content .input-line:last-of-type label {
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
}

.container .exam-content .input-line:last-of-type.try-again {
  background-color: #ff2e2e;
}

.container .exam-content .input-line:last-of-type.wrong {
  background-color: #ffffff;
  color: #352940;
  margin-top: 1.25rem;
}

.container .exam-content .input-line:last-of-type.wrong label {
  font-weight: 500;
}

.container .exam-content .input-line:last-of-type.wrong input {
  text-decoration: underline;
}

.container .exam-content p.try-again {
  font-size: 0.9375rem;
  color: #ff2e2e;
  font-weight: 400;
  text-align: center;
  margin-top: 1.25rem;
}

.container .exam-content .wrong-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .exam-content .wrong-answer p {
  margin-left: 1.25rem;
  color: #ff2e2e;
  text-decoration: line-through;
  font-size: 1.25rem;
  font-weight: 400;
}

.container .exam-content button {
  all: unset;
  cursor: pointer;
  color: #352940;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 1.5625rem;
  margin-top: 1.875rem;
  position: relative;
  overflow: hidden;
}

.container .exam-content button .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: solid 1px #352940;
  border-bottom: solid 1px #352940;
}

.container .exam-content .svg-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .exam-content .cover {
  position: absolute;
  background-color: #ffffff;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 99;
}

.container .exam-content svg {
  fill: #352940;
}

.container .exam-content .spinner {
  -webkit-animation: spinner;
          animation: spinner;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

/* ====== 
keyframes
====== */
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.dictionary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dictionary-container .chapters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  color: #ffffff;
  margin-top: 6.25rem;
}

.dictionary-container .chapters .chapter {
  width: 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6.25rem;
}

.dictionary-container .chapters .chapter h1 {
  font-size: 1.4375rem;
  font-weight: 400;
  margin-bottom: 3.125rem;
}

.dictionary-container .chapters .chapter h1::first-letter {
  text-transform: uppercase;
}

.dictionary-container .chapters .chapter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dictionary-container .chapters .chapter ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
}

.dictionary-container .chapters .hidden {
  display: none;
}

.container .loading-content svg {
  fill: #ffffff;
}

.container .loading-content .spinner {
  -webkit-animation: spinner;
          animation: spinner;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.exam-pop-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.exam-pop-container .exam-pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px #ffffff solid;
  border-radius: 4px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  color: #352940;
  padding: 2.5rem;
  min-width: 20rem;
  max-width: 25rem;
}

.exam-pop-container .exam-pop button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exam-pop-container .exam-pop svg {
  fill: #352940;
}

.exam-pop-container .exam-pop h1 {
  font-size: 1.4375rem;
  font-weight: 400;
  text-align: center;
}

.exam-pop-container .exam-pop p {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 4.6875rem;
}

.exam-pop-container .exam-pop .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 4.6875rem;
}

.exam-pop-container .exam-pop .btn-container a {
  border: 1px #ffffff solid;
  border-radius: 4px;
  text-decoration: none;
  color: #352940;
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.exam-pop-container .exam-pop .btn-container a.clr-bg {
  border: 1px #352940 solid;
  border-radius: 4px;
  font-weight: 400;
}

.exam-pop-container .exam-pop .btn-container .cover {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #352940;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.exam-pop-container .exam-pop .btn-container .cover span {
  position: absolute;
  left: 1.25rem;
}

.exam-pop-container .exam-pop .btn-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #352940;
}

.exam-pop-container .exam-pop .btn-container.after-exam-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports ((-webkit-backdrop-filter: blur()) or (backdrop-filter: blur())) {
  .exam-pop-container {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}

.container.content-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.content-col h1 {
  color: #ffffff;
  font-size: 1.4375rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.container.content-col h1::first-letter {
  text-transform: uppercase;
}

.container .creator-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container .creator-content svg {
  fill: #ffffff;
}

.container .creator-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 100%;
  padding: 0 0 1.25rem 3.75rem;
}

.container .creator-content form .input-container {
  position: relative;
  margin-top: 2.5rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .creator-content form .input-container label {
  position: absolute;
  left: 0;
  margin: 0.625rem;
  padding: 0 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #352940;
  z-index: 9;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 4px;
}

.container .creator-content form .input-container span {
  padding-top: 0.25rem;
  margin: 0 0.4375rem;
}

.container .creator-content form input {
  all: unset;
  border: 1px #ffffff solid;
  border-radius: 4px;
  color: #ffffff;
  font-size: 1rem;
  padding: 1.25rem;
  min-width: 18.75rem;
  max-width: 18.75rem;
  z-index: 99;
}

.container .creator-content form .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
}

.container .creator-content form button {
  all: unset;
  border: 1px #ffffff solid;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #352940;
  font-size: 1.1875rem;
  font-weight: 500;
  padding: 0.625rem 1.25rem;
  position: relative;
}

.container .creator-content form button:nth-of-type(2) {
  background-color: #352940;
  color: #ffffff;
  margin-left: 2.5rem;
  border: none;
}

.container .creator-content form .cover {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
  color: #352940;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 99;
}

.container .creator-content form .cover span {
  position: absolute;
  left: 1.25rem;
}

.container .creator-content form .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #ffffff;
}

section {
  background-color: #352940;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 300;
  position: relative;
  overflow-x: hidden;
}

section.exam {
  background-color: #ffffff;
  color: #352940;
}

section.dictionary {
  height: auto;
}
/*# sourceMappingURL=index.css.map */