// FINISH EXAM POP

.exam-pop-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;

  .exam-pop {
    @include flexCenter();
    @include setBorder();
    position: relative;
    flex-direction: column;
    background-color: $clr-100;
    color: $clr-900;
    padding: pxToRem(40px);
    min-width: pxToRem(320px);
    max-width: pxToRem(400px);

    button {
      all: unset;
      cursor: pointer;
      position: absolute;
      top: 5%;
      right: 5%;
      display: flex;
      align-items: center;
    }

    svg {
      fill: $clr-900;
    }

    h1 {
      font-size: pxToRem(23px);
      font-weight: 400;
      text-align: center;
    }

    p {
      font-size: pxToRem(16px);
      font-weight: 400;
      margin-top: pxToRem(75px);
    }

    .btn-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: pxToRem(75px);

      a {
        @include setBorder();
        text-decoration: none;
        color: $clr-900;
        padding: pxToRem(10px) pxToRem(20px);
        font-size: pxToRem(20px);
        font-weight: 600;
        position: relative;
        overflow: hidden;

        &.clr-bg {
          @include setBorder($clr-900);
          font-weight: 400;
        }
      }

      .cover {
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        background-color: $clr-900;
        color: $clr-100;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 99;

        span {
          position: absolute;
          left: pxToRem(20px);
        }
      }

      .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: pxToRem(1px);
        background-color: $clr-900;
      }

      &.after-exam-btn {
        justify-content: center;
      }
    }
  }
}

@supports (backdrop-filter: blur()) {
  .exam-pop-container {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
  }
}
