// HEADER

header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: $clr-900;
  width: 100vw;
  height: pxToRem(100px);
  z-index: 9;

  button {
    all: unset;
    cursor: pointer;
    @include headOptFlex();
    align-items: center;

    svg {
      transform: rotate(180deg);
    }

    h1 {
      margin-right: pxToRem(20px);
    }
  }

  div {
    @include headOptFlex();
    width: 25%;
    max-width: pxToRem(300px);
    user-select: none;

    &:first-of-type {
      justify-content: flex-start;
      padding-left: 3%;
    }

    &:nth-of-type(2) {
      width: 30%;
      max-width: none;
    }
  }

  h1 {
    font-size: pxToRem(23px);
    font-weight: 400;
    text-align: center;
    margin-right: pxToRem(10px);
  }

  h4 {
    padding-bottom: pxToRem(1px);
    font-size: pxToRem(16px);
  }

  input {
    all: unset;
    @include setBorder();
    padding: pxToRem(15px) pxToRem(20px);
    width: 100%;
  }

  ::placeholder {
    color: $clr-100;
    font-style: italic;
  }

  a {
    display: flex;
  }

  svg {
    fill: $clr-100;
  }
}
