// HOME

.container {
  @include flexCenter();
  height: 100%;

  .home-content {
    display: flex;
    width: pxToRem(500px);
    color: $clr-100;

    .option {
      flex: 1;
      @include flexCenter();
    }

    a {
      all: unset;
      cursor: pointer;
      display: flex;
      flex-direction: column;
    }

    .border {
      height: pxToRem(250px);
      width: pxToRem(1px);
      background-color: $clr-100;
    }

    .img-container {
      @include flexCenter();
      width: pxToRem(110px);
      height: pxToRem(110px);
      border-radius: 50%;
      position: relative;
      border: 1px $clr-100 solid;

      .border-cover {
        background-color: $clr-900;
        height: pxToRem(120px);
        width: 104%;
        position: absolute;
        top: -2%;
        right: -2%;
      }
    }

    svg {
      fill: $clr-100;
      z-index: 999;
    }

    h4 {
      margin-top: pxToRem(15px);
      font-size: pxToRem(16px);
      text-align: center;
      z-index: 999;
    }
  }
}

// MEDIA QUERIES

@media (max-width: pxToRem(500px)) {
  .border {
    display: none;
  }

  .home-content {
    flex-direction: column;

    .option:first-of-type {
      margin-bottom: pxToRem(50px);
    }
  }
}
