// MIXINS

@mixin headOptFlex() {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin setBorder() {
  border: 1px $clr-100 solid;
  border-radius: 4px;
}
